$color-text-black : rgba(0, 0, 0, 0.87);
$color-text-black-light : rgba(0, 0, 0, 0.32);
$color-text-gray : rgba(0, 0, 0, 0.56);
$color-text-gray-light : rgb(199, 199, 199);
$color-gray-light : rgb(224, 224,224);
$color-gray-lighter : rgba(245, 245, 245, .9);
$color-white : rgb(255, 255, 255);
$color-primary : #A62626;

$font-size-9 :  9px;
$font-size-10 : 10px;
$font-size-12 : 12px;
$font-size-14 : 14px;
$font-size-16 : 16px;