@use "variables";
// @use "mixin";
@font-face {
    font-family: "iranSans";
    src: url(../accets/fonts/AIranianSans.ttf) format('woff');
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iranSans';
}

@mixin border($width:445px){
    border:1px solid variables.$color-gray-light;
    border-radius: 5px;
    width: $width;
}
@mixin borderBottom(){
    border-bottom: {
        width: 1px;
        color:variables.$color-gray-light;
        style: solid;
    };
    
}
@mixin button($padding:10px 10px){
    color:variables.$color-white;
    background-color: variables.$color-primary;
    padding:$padding;
    border:none;
    border-radius: 5px;
}
@mixin btn(){
    border:none;
    background-color: variables.$color-white;
    color:variables.$color-text-gray;
}
@mixin link($fontSize:14px){
    text-decoration: none;
    color:variables.$color-text-gray;
    font-size:$fontSize ;
}

.nav{
    width:100%;
    display:flex;
    // justify-content: space-around;
    align-content: center;
    align-items: baseline;
    padding: 12px 0  8px 0 ;
    border-bottom: 1.5px solid variables.$color-gray-light;
    position:fixed;
    top: 0;
    .logo_box{
        display: flex;
        align-self: center;
        margin:0 25px;
        .logo{
            width:50px;
            height:45px;  
            padding:0 15px; 
        }
        .line{
            align-self: center;
            width: 1px;
            height: 25px;
            background-color: variables.$color-gray-light;
        }
    }
    .ml{
        margin-left: 45px !important;
    }
    .container_icon{
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap:8px;
        margin-left: 35px;
        .name{
            font-size: variables.$font-size-14;
            color:variables.$color-text-gray;
            
        }
    }
    .categories_menu{
        @include btn;
        display: flex;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        .categories{
            font-family: "iranSans";
            font-size: variables.$font-size-14;
            width:55px;
            padding-left: 10px;
        }
    }

    
    .container_search_box{
        @include border($width:450px);
        background-color: variables.$color-gray-lighter;
        padding:11px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap:15px;
        margin-left: 155px;
        border: none;
        .search_box{
            width:200px;
            border:none;
            color: variables.$color-text-gray-light;
            background-color: variables.$color-gray-lighter;
            &::placeholder{
                color:variables.$color-text-gray-light;
                font-weight: bolder;
            }
        }
    }
    .support{
        .support_link{
            @include link;
        }
        margin-left: 35px;
    }
    .btn{
        @include button($padding: 12px 25px);
        font-size: variables.$font-size-14;
        font-weight: bold;
    }
}
main{
    .sidebar{
        position:absolute;
        top:100px;
        right:0;
        .container_menu{
            @include borderBottom;
            padding-left: 30px;
            margin: 0 15px;

        }
    }
}
.menu{
    padding-right: 20px;
    .header_item{
        margin-bottom: 15px;
        color:variables.$color-text-black !important;
        margin-block-start: 0;
    }

    .menu_item{
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap:10px;
        line-height: 10px;
        font-size: variables.$font-size-14;
        color:variables.$color-text-gray;

    }
}


.card{
    @include border;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    .image_card{
        width:136px;
        height:136px;
    }
    .card_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title_card{
            color: variables.$color-text-black;
            font-size: variables.$font-size-16;
            font-family: Arial, Helvetica, sans-serif;
        }
        .card-details{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap:15px;
            .price_card{
                color: variables.$color-text-gray;
                font-size: variables.$font-size-14;
            }
            .text_card{
                color: variables.$color-text-gray;
                font-size: variables.$font-size-12;
            }
        }
    }
}





    
