@use "variables";
// @use "mixin";
@font-face {
    font-family: "iranSans";
    src: url(../accets/fonts/AIranianSans.ttf) format('woff');
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iranSans';
}

@mixin border($width:445px){
    border:1px solid variables.$color-gray-light;
    border-radius: 5px;
    width: $width;
}
@mixin button($padding:10px 10px){
    color:variables.$color-white;
    background-color: variables.$color-primary;
    padding:$padding;
    border:none;
    border-radius: 5px;
}

.nav{
    display:flex;
    // justify-content: space-around;
    align-content: center;
    align-items: baseline;
    padding: 12px 0  8px 0 ;
    border-bottom: 1.5px solid variables.$color-gray-light;

    .logo_box{
        display: flex;
        align-self: center;
        margin:0 25px;
        .logo{
            width:50px;
            height:45px;  
            padding:0 15px; 
        }
        .line{
            align-self: center;
            width: 1px;
            height: 25px;
            background-color: variables.$color-gray-light;
        }
    }
    .container_icon{
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap:15px;
        margin-left: 40px;
        .name{
            font-size: variables.$font-size-14;
            color:variables.$color-text-gray;
        }
    }
    .container_search_box{
        @include border($width:400px);
        background-color: variables.$color-gray-lighter;
        padding:10px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap:15px;
        margin-left: 200px;
        border: none;
        .search_box{
            border:none;
            color: variables.$color-text-gray-light;
            background-color: variables.$color-gray-lighter;
            &::placeholder{
                color:variables.$color-text-gray-light;
                font-weight: bolder;
            }
        }
    }
    .btn{
        @include button($padding: 12px 25px);
        font-size: variables.$font-size-14;
        font-weight: bold;
    }
}

.card{
    @include border;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    .image_card{
        width:136px;
        height:136px;
    }
    .card_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title_card{
            color: variables.$color-text-black;
            font-size: variables.$font-size-16;
            font-family: Arial, Helvetica, sans-serif;
        }
        .card-details{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap:15px;
            .price_card{
                color: variables.$color-text-gray;
                font-size: variables.$font-size-14;
            }
            .text_card{
                color: variables.$color-text-gray;
                font-size: variables.$font-size-12;
            }
        }
    }
}





    
